<h3 class="text-center">Carros do sistema</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Veículo</th>
            <th scope="col">Marca</th>
            <th scope="col">Ano</th>
            <th scope="col">Descrição</th>
            <th scope="col">Vendido</th>
            <th scope="col">Criado</th>
            <th scope="col">Atualizado</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.vehicle }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.year }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.sold ? 'SIM' : 'NÃO' }}</td>
            <td>{{ item.created  | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ item.updated | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td><button class="btn btn-danger">Excluir Veículo</button></td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próximo">
    </pagination-controls>
</table>